

body {
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 19px;
    line-height: 1.6;
    margin: 0 8em ;
    padding: 2em 2em;
}

h1{
 
}

p {
    
   margin:0 auto; 
    
}


#refs p{
    margin-top:10px;
}


#estimated{
    margin-top: 1em;
}